In [1]:
import pandas as pd

import re

from sqlalchemy import create_engine

In [7]:
# Ouverture de la connexion vers la BDD
engine = create_engine('sqlite:///data.sqlite')
connection = engine.connect()

In [3]:
df = pd.read_excel('BASE_TD_FILO_DISP_IRIS_2014.xls', header=5,
                   dtype={'REG': str})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12209 entries, 0 to 12208
Data columns (total 30 columns):
IRIS             12209 non-null object
LIBIRIS          12209 non-null object
COM              12209 non-null object
LIBCOM           12209 non-null object
DISP_TP6014      9397 non-null float64
DISP_Q114        12196 non-null float64
DISP_MED14       12196 non-null float64
DISP_Q314        12196 non-null float64
DISP_EQ14        12196 non-null float64
DISP_D114        12196 non-null float64
DISP_D214        12196 non-null float64
DISP_D314        12196 non-null float64
DISP_D414        12196 non-null float64
DISP_D614        12196 non-null float64
DISP_D714        12196 non-null float64
DISP_D814        12196 non-null float64
DISP_D914        12196 non-null float64
DISP_RD14        12196 non-null float64
DISP_S80S2014    12196 non-null float64
DISP_GI14        12196 non-null float64
DISP_PTSAC14     11788 non-null float64
DISP_PBEN14      11788 non-null float64
DISP_PPEN14      11788 non-null float64
DISP_PPAT14      11788 non-null float64
DISP_PPSOC14     11788 non-null float64
DISP_PPFAM14     11788 non-null float64
DISP_PPMINI14    11788 non-null float64
DISP_PPLOGT14    11788 non-null float64
DISP_PIMPOT14    11788 non-null float64
note             12209 non-null int64
dtypes: float64(25), int64(1), object(4)
memory usage: 2.8+ MB

In [5]:
# Extraction
dft = df[['IRIS', 'DISP_MED14']]

# Renommage de colonnes
dft = dft.rename(columns={'DISP_MED14': 'REVMED'})

# Export
dft.to_sql('revenus', connection, if_exists='replace', index=False)

In [13]:
connection.close()